.wrapper-voice > .icon-mic {
  cursor: pointer;
}

.wrapper-recording {
  display: flex;
}
.wrapper-recording > .icon-cancel {
  box-sizing: border-box;
  border-radius: 999px;
  background-color: #eceef1;
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 1px;
  cursor: pointer;
  margin: 2px 5px 0;
}

.wrapper-recording > .recording {
  width: 876px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #3ab67b;
  border-radius: 100px;
  padding: 0px 4px;
  gap: 8px;
}
.wrapper-recording > .recording > .icon-record {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #eceef1;
  border-radius: 999px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  cursor: pointer;
}

/* //////// Time Recording ////////// */

.wrapper-recording > .recording > .time-recorder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 8px;
  gap: 10px;
  background: #f5f7f9;
  border-radius: 100px;
  /* width: 58px;
  height: 24px; */
  overflow: hidden;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

/* //////// End Time Recording ////////// */

/* //////// Start Time Bar ////////// */
.wrapper-time-bar {
  width: 700px;
  background-color: white;
  height: 3px;
  border-radius: 20px;
  overflow: hidden;
}
.wrapper-time-bar > .time-bar {
  width: 0%;
  height: 3px;
  background-color: #2cff00a6;
  border-radius: 20px;
}

/* //////// End Time Bar ////////// */

/* //////// Start Waveform ////////// */
.wrapper-wave {
  display: flex;
  width: 700px;
  align-items: center;
  overflow: hidden;
  padding: 10px 0;
  /* box-sizing: border-box; */
}

/* //////// End Waveform ////////// */
